/**
 * Other special parts -----------------------------------------------
 */

.dedication {
  width: 50%;
  margin: 2.8571em 0 2.8571em 50%;
  font-style: italic;
  font-size: .933em;
  line-height: 1.429;
  text-align: right;
  text-indent: 0;
}

.dedication:first-line {
  font-variant: normal;
}

.annotation {
  font-style: italic;
  text-indent: 0;
}
.annotation:first-line {
  font-variant: normal;
}

.dialog .annotation {
  font-variant: normal;
}
