/**
 * Other special parts -----------------------------------------------
 */

.dedication {
  width: 50%;
  margin: #{$baseline * $scale * 2em} 0 #{$baseline * $scale * 2em} 50%;
  font-style: italic;
  font-size: 1em / $scale;
  line-height: $baseline * $scale;
  text-align: right;
  text-indent: 0;
}

.dedication:first-line {
  font-variant: normal;
}

.annotation {
  font-style: italic;
  text-indent: 0;
}
.annotation:first-line {
  font-variant: normal;
}

.dialog .annotation {
  font-variant: normal;
}
