/**
 * Blockquote styles -------------------------------------------------
 */
blockquote {
  display: table;
  font-size: 1em / $scale;
  line-height: $baseline * $scale;
  margin: 0 auto;

  .source {
    font-style: italic;
    text-align: right;
  }
}

blockquote.centered {
  display: block;
  &, p {
    text-align: center;
  }
}

blockquote.article {
  p.article_header {
    text-align:center;
    margin: $baseline*$scale*1em 0;
    font-variant: small-caps;
    letter-spacing: .033em;
  }
}

blockquote.slanted,
blockquote.quote {
  font-style: italic;
}

blockquote.fixed {
  pre {
    display: table;
    width: auto;
    margin: 0 auto;
  }
}

blockquote.poem {
  padding: 0;
  display: table;
  width: auto;

  .line {
    display: block;
    white-space: nowrap;
  }
}
