/**
 * Counters ----------------------------------------------------------
 */
.book {
  counter-reset: page chapter section global_section footnote;
}

.book > section {
  counter-increment: chapter;
  counter-reset: section;
}

.book > section > section {
  counter-increment: section;
  counter-increment: global_section;
}

.book section#Table_of_Contents,
.book section.preface {
  counter-increment: none;
}

#Table_of_Contents ol {
  counter-reset: toc;
}

#Table_of_Contents ol.continued {
  counter-reset: none;
}

#Table_of_Contents li {
  counter-increment: toc;
}

#Table_of_Contents li.no_chapter {
  counter-increment: none;
}

.footnote {
  counter-increment: footnote;
}

.footnote-unnumbered {
  counter-increment: none;
}
