.book {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1" height="12" viewBox="0 0 1 12"><rect x="0" y="11" width="1" height="1" fill="%23cec" fill-opacity=".5"/></svg>');
  background-position: left top;
  background-repeat: repeat;
}
