/**
 * Dialogs -----------------------------------------------------------
 */
.dialog dt {
  float: left;
  font-variant: small-caps;
  letter-spacing: .05em;
  margin-right: .75em;
}

.dialog dd {
  margin-bottom: .75em;
  padding-left: 1.25em;
}
