/**
 * Footnotes ---------------------------------------------------------
 */
.footnote-body {
  display: block;
  float: right;
  width: 10em;
  margin: #{$baseline * $scale* -.5em} #{$baseline * $scale*-1em - 10em} #{$baseline * $scale* 1em} 0;
  padding: #{$baseline * $scale* .5em};
  font-style: italic;
  font-size: 1em / $scale;
  line-height: $baseline * $scale;
  text-align: left;
  text-indent: 0;
  background: $c-background;
}

@media (max-width: 54em) {
  .footnote-body {
    margin: #{$baseline * $scale* 1em} 0 #{$baseline * $scale* 1em} #{$baseline * $scale* 1em};
    padding: 0 0 0 #{$baseline * $scale* 1em};
    border-left: 1px solid #ccc;
  }
}

.footnote:before,
.footnote-body:before {
  content: counter(footnote) ") ";
  font-size: 1em / $scale;
  font-style: normal;
  line-height: 1;
  position: relative;
  top: -.5em;
}

.footnote-unnumbered:before,
.footnote-unnumbered .footnote-body:before {
  content: "";
}
