header {
  margin: 0 0 $baseline*6.5em;
  padding: $baseline*4em 0;
  border-bottom: 1px solid #fff;

  @media print {
    page-break-after: always;
    page-break-after: right;
    border-bottom: none;
    padding-bottom: 0;
  }

  @media (min-width: 52em) {
    h1 {
      max-width: 61.8%;
    }
  }

  h2, h3, h4, h5, p {
    text-align: center;
  }

  h2.author:before {
    content: "by ";
    display: block;
    font-size: 1em / $scale;
    font-style: italic;
    margin-bottom: #{$baseline / ($scale * $scale) * .5em};
  }

  h2.author:lang(de):before {
    content: "von ";
  }

  p {
    width: 61.8%;
    margin: 0 auto;
  }
}
