p {
  margin: 0;
  text-align: left;

  @media print, (min-width: 38em) {
    text-align: justify;
    -webkit-hyphens: auto;
    -epub-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}

p + p {
  text-indent: $baseline*.5em;
}

.letter_header,
.article_header,
.signature,
.postscriptum,
.poem p,
.separation,
.noindent {
  text-indent: 0;
}

.starts-with-quote {
  text-indent: -.4em;
}

p + .starts-with-quote {
  text-indent: $baseline*.5em - .3em;
}

section h2+p:first-line,
section h3+p:first-line,
section > p:first-child:first-line {
  font-variant: small-caps;
  letter-spacing: .033em;
}

p.centered {
  text-align: center;
}

p.date,
p.signature {
  text-align: right;
  font-style: italic;
}
