@media print {
  font-size: 11pt;

  header,
  section {
    page-break-after: always;
    page-break-after: right;
    border-bottom: none;
    padding-bottom: 0;
  }
  section:last-child,
  section section {
    page-break-after: auto;
  }
  section section {
    padding-bottom: $baseline*2em;
  }
  section section > *:first-child {
    page-break-before: avoid;
  }
}
