/**
 * Reset -------------------------------------------------------------
 */
article, aside, details, figcaption, figure, footer, header, hgroup,
main, nav, section, summary {
  display: block;
}

[hidden],
template {
  display: none;
}

html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font: 100%/#{$baseline} Crimson,Georgia,serif;
  color: #222;
  background: #FBFBFA;
  margin: 0;
}

@media print {
  body {
    font-size: 11pt;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: $baseline*1em;
}

caption, td, th {
  text-align: left;
  padding: #{$baseline*1em/4} #{$baseline*1em};
}

figcaption,
caption, th {
  font-style: italic;
}

caption {
  caption-side: bottom;
}

thead th, tbody {
  border-bottom: 1px solid #ccc;
}

table.left_headed {
  border-left: 1px solid #ccc;
  border-bottom: none;
}

h1 {
  font-size: $scale * $scale * $scale * $scale * 1em;
  line-height: $baseline / ($scale * $scale * $scale * $scale) * 3;
  margin: 0 auto #{$baseline / ($scale * $scale * $scale * $scale) * .5em};
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: $scale * $scale * $scale * 1em;
  font-weight: normal;
  line-height: $baseline / ($scale * $scale * $scale) * 2;
  margin: 0 auto #{$baseline / ($scale * $scale * $scale) * .5em};
}

h3 {
  font-size: $scale * $scale * 1em;
  line-height: $baseline / ($scale * $scale) * 1.5;
  margin: 0 auto #{$baseline / ($scale * $scale) * .5em};
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: normal;
  letter-spacing: .033em;
}

h4 {
  font-size: $scale * 1em;
  line-height: $baseline / $scale * 1.5;
  margin: 0 auto #{$baseline / $scale * .5em};
  font-style: italic;
  font-weight: normal;
}

h5 {
  font-size: 1em;
  line-height: $baseline;
  margin: 0 auto .5em;
}

h6 {
  text-indent: $baseline*1em;
  font-style: italic;
  margin: 0 auto .5em;
}

p {
  margin: 0;
  text-align: justify;
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 46em) {
  p {
    text-align: left;
  }
}

p + p {
  text-indent: $baseline*1em;
}

abbr[title], dfn[title] {
  border-bottom-color: rgba(0,0,0,.25);
  cursor: help;
}

blockquote {
  margin: $baseline*$scale*1em auto;
  font-size: 1em / $scale;
  line-height: $baseline * $scale;
  display: table;
}

blockquote:before, blockquote:after {
  content: "";
}

q:lang(en) {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:lang(bar), q:lang(de) {
  quotes: "\201E" "\201C" "\201A" "\2018";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

em, i, var {
  font-style: italic;
}

strong, b {
  font-weight: normal;
  font-variant: small-caps;
  letter-spacing: .05em;
  padding: 0 0 0 .1em;
}

dfn {
  font-style: italic;
}

sub, sup {
  font-size: 1em/$scale;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

code, kbd, samp {
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 1em;
}

/* our <pre> is mostly for poems and stuff, so inherit font family */
pre {
  font-family: inherit;
  font-size: 1em;
  margin: $baseline*1em 0;
  white-space: pre-wrap;
}

hr {
  border: none;
  border-top: 1px solid #aaa;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  margin: $baseline*1em auto;
}

mark {
  background: #ff0;
  color: #000;
}

a {
  background: transparent;
  color: #A00;
  text-decoration: none;
}

a:visited {
  color: #900;
}

a:hover,
a:focus {
  outline: none;
  color: #F00;
  border-bottom: 1px solid;
}

a:active {
  background: #F00;
  border: none;
  color: white;
  outline: none;
}

img {
  border: 0;
}

figure {
  text-align: center;
  margin: $baseline*1em auto;
  max-width: 100%;
}

figure img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: 1em / $scale;
  line-height: $baseline * $scale;
}
