header,
section {
  margin: 0 0 $baseline*6.5em;
  padding: 0 0 $baseline*4em;
  border-bottom: 1px solid #fff;
}

section section:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
