table {
  margin: 0;
  font-feature-settings: "liga" 1, "kern" 1, "tnum" 1, "frac" 0;
}

thead th, tbody {
  border-bottom: 1px solid $c-shadow;
}

table:last-child tbody {
  border-bottom: none;
}

caption, th {
  font-style: italic;
}

caption {
  caption-side: bottom;
}
