/**
 * Table of Content --------------------------------------------------
 */
#Table_of_Contents {
  ol {
    list-style: none;
    padding: 0 1.333em;
    margin: 0 auto;
    display: table;
  }

  ol ol {
    padding-left: 2.5em;
    margin: 1em;
  }

  ol li {
    margin: 0 0 .333em;
    padding-left: 3.5em;
    text-indent: -3.5em;
  }

  ol li:before {
    content: counter(toc, upper-roman) ".";
    width: 3em;
    padding-right: .5em;
    display: inline-block;
    font-weight: bold;
    text-indent: 0;
    text-align: right;
  }

  ol ol li:before {
    content: counter(toc) ".";
  }

  ol li.no_chapter:before {
    content: "\00A0";
  }

  &.part_and_chapter ol li:before {
    content: "";
  }

  &.part_and_chapter ol ol li:before {
    content: "Chapter " counter(toc, upper-roman);
    width: 8em;
    font-variant: small-caps;
    font-weight: normal;
  }

  &.part_and_chapter ol ol li:lang(de):before {
    content: "Kapitel " counter(toc, upper-roman);
  }
}
