@charset "UTF-8";

$baseline: 1.5625;
$scale: 1.333;

$c-hi: #A00;
$c-background: darken(#FBFBFA, 1%);

@import "fonts";
@import "normalize";

.book {
  color: #222;
  font-family: "Crimson",Georgia,serif;
  font-size: 16px;
  line-height: $baseline;
  background: $c-background;
  max-width: 36em;
  padding: $baseline*4em $baseline*6em;
  margin: 60px auto;

  @import "counters";

  @import "inlines";

  @import "paragraphs";

  @import "sections";

  @import "blockquotes";

  @import "tables";

  @import "figures";

  @import "footnotes";

  @import "print";
}
