@charset "UTF-8";


/* the baseline height. 16px*1.5625 = 25px */
$baseline: 1.5625;

/* the scale by which other font sizes are calculated */
$scale: 1.333;

/* the maximum line length in em */
$measure: 36;

$c-hi: #A00;
$c-background: darken(#FBFBFA, 1%);
$c-shadow: #aaa;
$c-copy: #222;


@import "fonts";
@import "paged";
@import "normalize";


.book {
  color: $c-copy;
  font-family: "Crimson",Georgia,serif;
  font-size: 14px;
  line-height: $baseline;
  background: $c-background;
  max-width: $measure*1em;
  padding: 1em 3px $baseline*4em;
  margin: 0 0 60px;
  font-feature-settings: "liga" 1, "kern" 1, "frac" 1;
  text-rendering: optimizeLegibility;

  @media (min-width: 30em) {
    font-size: 15px;
    padding-left: $baseline*1em;
    padding-right: $baseline*1em;
  }

  @media (min-width: 38em) {
    font-size: 16px;
    margin-right: auto;
    padding-left: $baseline*2em;
    padding-right: $baseline*2em;
  }

  @media (min-width: #{2*$baseline*6em + $measure*1em}) {
    margin-left: auto;
    padding-left: $baseline*6em;
    padding-right: $baseline*6em;
  }

  @media (min-height: 30em) {
    margin-top: 60px;
    padding-top: $baseline*4em;
  }

  @media print {
    font-size: 11pt;
  }

  &--chapters-added {
    > section:not(#Table_of_Contents) h2:before {
      content: "Chapter\00a0" counter(chapter, upper-roman) ":\00a0";
    }
    > section:not(#Table_of_Contents) h2:lang(de):before {
      content: "Kapitel\00a0" counter(chapter, upper-roman) ":\00a0";
    }
  }

  hr {
    border: none;
    border-top: 1px solid $c-shadow;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    margin: $baseline*1em auto;
  }

  @import "counters";

  @import "rhythm";

  @import "inlines";

  @import "paragraphs";

  @import "headings";

  @import "sections";

  @import "header";

  @import "blockquotes";

  @import "tables";

  @import "figures";

  @import "dialogs";

  @import "annotations";

  @import "footnotes";

  @import "toc";

  //@import "debug";
}
