@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Crimson+Text:regular,regularitalic,bold);
@import url(http://fonts.googleapis.com/css?family=DejaVu+Sans:regular,regularitalic,bold);


/**
 * Paged media setup -------------------------------------------------
 */
@page {
  size: portrait;
  margin: 2cm;
  counter-increment: page;
  @bottom-center {
    margin-top: 1.6667em;
    line-height: 1.6667em;
    font-style: italic;
    font-size: 75%;
    text-align: center;
    content: counter(page);
  }
}

@page :left {
  margin-left: 3cm;
  margin-right: 1.5cm;
}

@page :right {
  margin-left: 1.5cm;
  margin-right: 3cm;
}


/**
 * Reset -------------------------------------------------------------
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
ul, ol, dl, li, dt, dd,
form, fieldset, pre, label, legend,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
strong, sub, sup, tt, var, hr,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, dialog, figcaption, figure, footer, header,
hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  font: 100%/1.25em Crimson,"Crimson Text",serif;
  font-size-adjust: .42;
  color: #222;
  background: #FDFDFD;
  margin: 0;
}

@media print {
  body {
    font-size: 75%;
    line-height: 1.25em;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.25em;
}

caption, td, th {
  text-align: left;
  padding: 0.375em 1.25em;
}

figcaption,
caption, th {
  font-style: italic;
}

caption {
  caption-side: bottom;
}

thead th, tbody {
  border-bottom: .0625em solid #ccc;
}

table.left_headed {
  border-left: .0625em solid #ccc;
  border-bottom: none;
}

h1 {
  font-size:  4.0em;
  line-height: 1.25;
  margin-bottom: .625em;
  text-align: center;
}

h2 {
  font-size:  3em;
  line-height: 1.25;
  margin-bottom: .41666em;
}

h3 {
  font-size:  2em;
  line-height: 1.25;
  margin: .5em 0 .5em;
  font-variant: small-caps;
  -moz-font-feature-settings: 'smcp=1';
  text-transform: lowercase;
  font-weight: normal;
  letter-spacing: .033em;
}

h3:first-child {
  margin-top: 0;
}

h4 {
  font-size:  1.125em;
  line-height: 1.11;
  margin-bottom: .5em;
  font-style: italic;
}

h5 {
  font-size: 1em;
  line-height: 1.25;
  margin: 1.875em 0 1.25em;
}

h6 {
  text-indent: 1.25em;
  font-style: italic;
  margin: 0 0 .625em;
}

abbr[title], dfn[title] {
  cursor: help;
}

blockquote:before, blockquote:after {
  content: "";
}

q:lang(en) {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:lang(bar), q:lang(de) {
  quotes: "\201E" "\201C" "\201A" "\2018";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

em, i, var {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

sub, sup {
  font-size: 0.875em;
  line-height: 0;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

code, kbd {
  font-family: "DejaVu Sans Mono", monospace;
}




/**
 * Basic book settings -----------------------------------------------
 */

.book {
  max-width: 40em;
  padding: 6.25em .625em;
  margin: 0 auto;
  x-background: url(baseline.png);
}

@media (max-height: 31.25em) {
  .book {
    padding-top: 3.125em;
  }
}

@media (max-width: 64em) {
  .book {
    margin-left: 0;
  }
}

@media (max-width: 52em) {
  .book {
    margin-right: 0;
  }
}

.full-width .book {
  max-width: none;
  line-height: 1.5em;
  padding: 6.25em 2.5em;
}

.sans-serif .book {
  font-family: "DejaVu Sans", "Bitstream Vera Sans", Helvetica, "Segoe UI", Arial, sans-serif;
}

.book:after {
  content: "\2766";
  display: block;
  text-align: center;
  font-size: 4em;
  color: #ccc;
  margin: 1.25em 0 0;
}

.book header,
.book section {
  margin: 0 0 2.5em;
  padding: 0 0 2.4375em;
  border-bottom: .0625em solid #ccc;
}

@media print {
  .book header,
  .book section {
    page-break-after: always;
    page-break-after: right;
    border-bottom: none;
    padding-bottom: 0;
  }
  .book section:last-child,
  .book section section {
    page-break-after: auto;
  }
  .book section section {
    padding-bottom: 2.5em;
  }
  .book section section > *:first-child {
    page-break-before: avoid;
  }
}

.book section section:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.book header h2,
.book header p {
  text-align: center;
}

.book header h2 {
  margin-bottom: 1.25em;
}

.book header h2.author:before {
  content: "by ";
  display: block;
  font-size: .666em;
  font-style: italic;
}

.book header h2.author:lang(de):before {
  content: "von ";
}

.book header p {
  width: 61.8%;
  margin: 0 auto;
}

.book p {
  text-align: justify;
  hyphenate: auto;
  hyphenate-lines: 3;
}

.book p + p {
  text-indent: 1.25em;
}

.book .letter_header + p + p,
.book .article_header,
.book .article_header + p,
.book p.signature,
.book p.postscriptum,
.book .poem p,
.book p.noindent {
  text-indent: 0;
}

.book section h2+p:first-line,
.book section h3+p:first-line,
.book section > p:first-child:first-line {
  font-variant: small-caps;
  -moz-font-feature-settings: 'smcp=1';
  letter-spacing: .033em;
}

.book figure {
  text-align: center;
  margin: 1.25em auto;
  max-width: 100%;
}

.book figure img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.book figcaption {
  font-size: .875em;
  line-height: 1.42857;
}

.book p.separation {
  margin-top: 1.25em;
  text-indent: 0;
}

.book p.date,
.book p.signature {
  text-align: right;
  font-style: italic;
}

.book p.date + p {
  text-indent: 0;
}

.book hr {
  color: #aaa;
  height: .0625em;
  background: #aaa;
  border: none;
  margin: 1.25em 0 1.1875em;
}

.book var,
.book em {
  font-style: italic;
}

.book .proper_name,
.book strong {
  font-weight: normal;
  font-variant: small-caps;
  -moz-font-feature-settings: 'smcp=1';
  letter-spacing: .05em;
  padding: 0 0 0 .1em;
}

.book a {
  color: #A00;
  text-decoration: none;
}

.book a:visited {
  color: #900;
}

.book a:hover,
.book a:focus {
  outline: none;
  color: #F00;
  border-bottom: .0625em solid;
}

.book a:active {
  color: white;
  background: #F00;
  border: none;
}



/**
 * Blockquote styles -------------------------------------------------
 */

.book blockquote {
  padding: 0 1.42857em;
  font-size: .875em;
  line-height: 1.42857;
  margin: 1.42857em 0;
  display: table;
}

.book blockquote.centered {
  display: block;
}

.book .centered,
.book blockquote.centered p {
  text-align: center;
}

.book blockquote.article p.article_header {
  text-align:center;
  margin: 1.25em 0;
  font-variant: small-caps;
  -moz-font-feature-settings: 'smcp=1';
  letter-spacing: .033em;
}
.book blockquote.slanted,
.book blockquote.quote {
  font-style: italic;
}
.book blockquote.fixed pre {
  white-space: pre;
  display: table;
  width: auto;
  margin: 0 auto;
}
.book blockquote.fixed pre * {
  white-space: pre;
}
.book blockquote .source {
  font-style: italic;
  font-size: .875em;
  text-align: right;
}
.book blockquote.poem {
  padding: 0;
  display: table;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.book .poem .line {
  display:block;
  white-space:nowrap;
}



/**
 * Counters ----------------------------------------------------------
 */
.book {
  counter-reset: page chapter section global_section footnote;
}

.book section {
  counter-increment: chapter section;
}

.book section section {
  counter-increment: section;
}

.book section#Table_of_Contents,
.book section.preface {
  counter-increment: none;
}

.book #Table_of_Contents {
  counter-reset: toc;
}

.book #Table_of_Contents li {
  counter-increment: toc;
}

.book #Table_of_Contents li.no_chapter {
  counter-increment: none;
}

.book .footnote {
  counter-increment: footnote;
}

.book .footnote-unnumbered {
  counter-increment: none;
}





/**
 * Footnotes ---------------------------------------------------------
 */
.book .footnote-body {
  display: block;
  float: right;
  width: 10em;
  margin: 0 -11.42857em 1.42857em 0;
  font-style: italic;
  font-size: .875em;
  line-height: 1.42857;
  text-align: left;
  text-indent: 0;
}

@media (max-width: 52em) {
  .book .footnote-body {
    margin: 1.42857em 0 1.42857em 1.42857em;
    padding-left: 1.35614em;
    border-left: .071428em solid #ccc;
  }
}

.book .footnote:before,
.book .footnote-body:before {
  content: counter(footnote) ") ";
  font-size: .7em;
  font-style: normal;
  line-height: .7em;
  position: relative;
  top: -.4em;
}

.book .footnote-unnumbered:before,
.book .footnote-unnumbered .footnote-body:before {
  content: "";
}



/**
 * Table of Content --------------------------------------------------
 */
.book #Table_of_Contents ol {
  list-style: none;
  padding: 0 1.333em;
  margin: 0 auto;
  display: table;
}

.book #Table_of_Contents ol ol {
  padding-left: 2.5em;
  margin: 1em;
}

.book #Table_of_Contents ol li {
  margin: 0 0 .333em;
  padding-left: 3.5em;
  text-indent: -3.5em;
}

.book #Table_of_Contents ol li:before {
  content: counter(toc, upper-roman) ".";
  width: 3em;
  padding-right: .5em;
  display: inline-block;
  font-weight: bold;
  text-indent: 0;
  text-align: right;
}

.book #Table_of_Contents ol ol li:before {
  content: counter(toc) ".";
}

.book #Table_of_Contents ol li.no_chapter:before {
  content: "\00A0";
}

.book #Table_of_Contents.part_and_chapter ol li:before {
  content: "";
}

.book #Table_of_Contents.part_and_chapter ol ol li:before {
  content: "Chapter " counter(toc, upper-roman);
  width: 8em;
  font-variant: small-caps;
  -moz-font-feature-settings: 'smcp=1';
  font-weight: normal;
}

.book #Table_of_Contents.part_and_chapter ol ol li:lang(de):before {
  content: "Kapitel " counter(toc, upper-roman);
}



/**
 * Other special parts -----------------------------------------------
 */

.book .dedication {
  width: 50%;
  margin: 2.8571em 0 2.8571em 50%;
  font-style: italic;
  font-size: .933em;
  line-height: 1.429;
  text-align: right;
  text-indent: 0;
}

body .book div .dedication:first-line {
  font-variant: normal;
}


