#__display {
  display: none;
  position: fixed;
  top: 40px;
  left: 50%;
  margin-left: -31.25em;
  width: 10em;
  color:#999;
  text-align: right;
}

#__display:hover {
  opacity: 1 !important;
}

#__display a {
  color: #999;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 1.25em;
  margin-right: .1875em;
}

#__display a:hover,
#__display a:focus {
  color: #fff;
  background: #999;
}

#__display a.cur {
  display: block;
  width: auto;
  text-align: right;
}

@media (max-width: 64em) {
  #__display {
    margin-left: 0;
    padding: .1875em;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .8);
    -moz-border-radius-bottomright: 1.25em;
    border-bottom-right-radius: 1.25em;
  }

  #__display a.cur {
    display: none;
  }
}




#__messages {
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 0;
}

#__messages li {
  background: #3C3B37;
  color: #F2F1F0;
}



.__ctrl {
  cursor: pointer;
  padding: 4px;
  position: fixed;
  top: 10px;
}
.__ctrl:hover {
  background: #ff9;
}



.__modal {
  z-index: 800;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 59, 55, .5);
  font-size: 16px;
  line-height: 20px;
}

.__modal div {
  z-index: 801;
  background: white;
  width: 800px;
  padding: 10px;
  border: 5px solid rgb(60, 59, 55);
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 50%;
  bottom: 50px;
  margin-left: -415px;
  overflow: auto;
}

.__modal_close {
  z-index: 802;
  background: white;
  color: rgb(60,59,55);
  font: bold 20px/20px Arial,sans-serif;
  text-decoration: none;
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: 395px;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 5px;
  border: 5px solid rgb(60,59,55);
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.__modal_close:hover,
.__modal_close:focus {
  color: white;
  border-color: white;
  background: rgb(60,59,55);
}

@media (max-width: 840px) {
  .__modal div {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    border: none;
    position: static;
    max-height: 80%;
  }
  .__modal_close {
    position: static;
    float: right;
    margin-bottom: -15px;
  }
}

.__modal ol {
  list-style-type: decimal;
}

.__modal ul {
  list-style-type: square;
}

.__modal li {
  margin-left: 1.25em;
}

.__modal p {
  margin-bottom: .625em;
}
