#__display {
  display: none;
  position: fixed;
  top: 40px;
  left: 50%;
  margin-left: -31.25em;
  width: 10em;
  color:#999;
}

@media (max-width: 64em) {
  #__display {
    margin-left: 0;
    padding: .1875em;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, .8);
    -moz-border-radius-bottomright: 1.25em;
    border-bottom-right-radius: 1.25em;
  }

  #__display .cur {
    display: none;
  }
}

#__display a {
  color: #999;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 1.25em;
  margin-right: .1875em;
}

#__display a:hover,
#__display a:focus {
  color: #fff;
  background: #999;
}

#__display a.cur {
  display: block;
  width: auto;
  text-align: left;
}




#__messages {
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 0;
}

#__messages li {
  background: #3C3B37;
  color: #F2F1F0;
}



.__ctrl {
  cursor: pointer;
  padding: 4px;
  position: fixed;
  top: 10px;
}
.__ctrl:hover {
  background: #ff9;
}



.__modal {
  z-index: 800;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 59, 55, .5);
}

.__modal div {
  background: white;
  width: 800px;
  padding: 10px;
  border: 5px solid rgb(60, 59, 55);
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -415px;
}
