<nav class="taskbar">
  <ul class="taskbar__sub">
    <li class="taskbar__item taskbar__item--content">{{#_}}Table of Content{{/_}}</li>
    <li class="taskbar__item taskbar__item--help">{{#_}}Help{{/_}}</li>
  </ul>
</nav>
