# -*- coding: utf-8 -*-
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="ebook.css" />
    <title>Colophon</title>
  </head>
  <body>
    <div class="book">
      <div>
        <p>Thank you for reading this eBook. It was first published in
        ${meta.get("issued", "Y") | h} by ${meta.get("publisher", "X") | h}. Since then it had a long journey.
        The current version was scanned by volunteers and published
        under <a href="${meta["source"] | h}">${meta["source"] | h}</a>.
        From there it was converted to HTML5 and this file by
        <a href="http://www.manuel-strehl.de/">Manuel Strehl</a>.</p>
        <p>This EPUB file was produced using
        <a href="http://python.org">Python</a>.
        The font is <a href="http://aldusleaf.org/">Crimson Text</a>
        by Sebastian Kosch <i>et al</i>.
        The project is hosted on <a href="http://github.com/">Github</a>.</p>
      </div>
      <div>
        <p>Other books in the same fashion:</p>
        <ul>
          % for ebook in others:
            <li style="margin-bottom: 1.25em; padding-bottom: 1.25em; border-bottom: 1px solid #ccc;">
              <a href="http://www.boldewyn.de/ebooks/${ebook[0] | h}" class="stealth">
                <strong>${ebook[1]["title"] | h}</strong><br/>
                by <strong>${ebook[1]["creator"] | h}</strong><br/><br/>
                ${ebook[1]["description"] | h}
              </a>
            </li>
          % endfor
        </ul>
      </div>
    </div>
  </body>
</html>
