html {
  line-height: 1.333;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  background: hsl(86, 14.3%, 97.3%);
  color: #222;
  font-family: Alegreya,Georgia,serif;
  font-size: calc(8px + 1.5625vw); /* (24-8)/10.24 */
  text-rendering: optimizeLegibility;
  font-variant-alternates: normal;
  font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures contextual;
  font-variant-numeric: no-ordinal oldstyle-nums proportional-nums diagonal-fractions;
  hyphens: auto;
  transition: background 2s;

  counter-reset: page 1 chapter section global_section footnote;
}
@media (max-width: 28.0625em) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 64em) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 77.5em) {
  html {
    background: hsl(176, 6%, 20%);
  }
}

@media print {
  html {
    font-size: 11pt;
    padding: 0;
    margin: 0;
    background: none;
    max-width: none;
  }
}

body {
  margin: 0;
}

article {
  max-width: 38em;
  margin: 4.000em auto;
  padding: 4.000em 4.000em 6.667em;
  background: hsl(86, 14.3%, 97.3%);
}

article:after {
  content: url("data:image/svg+xml,%3Csvg%20xmlns=%22http%3A//www.w3.org/2000/svg%22%20width=%221.2cm%22%20height=%221.2cm%22%20viewBox=%220%200%20142%20142%22%3E%0A%3Cpath%20fill-opacity=%22.2%22%20d=%22M%2084.242625%2C29.972185%20C%2087.228467%2C23.146976%2086.065229%2C14.129933%2079.672045%2C9.6520945%2075.964036%2C6.7216723%2068.775053%2C7.5420776%2067.990885%2C12.939445%20c%20-0.709028%2C5.148839%203.018499%2C9.704879%207.34917%2C11.98287%202.850996%2C1.875432%205.856807%2C3.516441%208.90257%2C5.04987%20z%20m%20-9.85853%2C33.49825%20c%20-0.365104%2C-2.547026%20-1.335586%2C-5.165816%200.340767%2C-7.445014%202.753917%2C-6.319086%205.447515%2C-12.667913%207.874673%2C-19.120506%20-14.486595%2C-7.305098%20-27.48%2C-17.448398%20-42.66059%2C-23.36809%20-7.358366%2C-3.298471%20-16.739874%2C-2.116724%20-22.295113%2C3.983288%20-5.173973%2C4.802489%20-5.996779%2C13.361363%20-1.514957%2C18.906762%201.140981%2C1.593819%203.14715%2C2.957918%201.584545%2C4.995572%20-1.329548%2C4.651336%20-7.299126%2C7.236114%20-11.3235843%2C4.268158%20C%201.3761598%2C41.830936%202.4725314%2C34.403201%204.7146913%2C29.30009%209.4982297%2C18.395519%2018.169374%2C8.0628108%2030.080085%2C4.9309145%20c%208.957596%2C-2.4061071%2018.291138%2C0.8571614%2025.608023%2C6.0813685%202.280957%2C1.485514%204.45016%2C3.133091%206.626407%2C4.765942%20C%2061.620236%2C13.299803%2059.899492%2C10.683869%2059.82694%2C8.2887369%2063.431781%2C2.6469723%2070.526633%2C-0.43163898%2077.064326%2C1.3538057%2086.14145%2C3.5808613%2090.851235%2C13.697338%2090.103909%2C22.445473%20c%20-0.221359%2C3.15378%20-0.89942%2C6.247253%20-1.470134%2C9.349622%207.764878%2C4.620028%2017.817845%2C7.909473%2026.408945%2C3.52628%205.38771%2C-2.457326%209.26611%2C-9.611877%205.73585%2C-15.03089%20-2.05093%2C-3.167001%20-6.80915%2C-5.528019%20-5.42363%2C-9.978145%200.74885%2C-6.8668091%208.09447%2C-11.9384042%2014.77408%2C-9.9534755%206.91709%2C1.6170431%209.84228%2C9.7175075%208.33495%2C16.1066605%20-2.12467%2C10.041159%20-10.73509%2C17.211195%20-19.38848%2C21.84408%20-9.43819%2C4.947168%20-20.910355%2C5.241257%20-30.720552%2C1.177962%20-2.570814%2C-1.8826%20-2.754432%2C2.324732%20-3.979915%2C3.860734%20-3.269171%2C6.737578%20-6.658129%2C13.418133%20-9.990928%2C20.122134%20z%20m%20-3.70443%2C4.66167%20c%202.375611%2C1.162412%204.438734%2C1.61551%205.123117%2C-1.447284%203.988491%2C-7.461522%2010.558537%2C-14.521144%2019.436221%2C-15.384534%209.348947%2C-1.450571%2019.324077%2C2.990732%2023.986517%2C11.333368%206.52453%2C11.599519%202.65251%2C26.903577%20-6.72174%2C35.79921%20-6.70783%2C6.974295%20-15.821886%2C10.560005%20-24.437235%2C14.492985%20-5.237337%2C2.8503%20-11.704001%2C6.44261%20-12.54725%2C12.969%20-0.605471%2C6.59494%205.956354%2C11.75309%2012.223128%2C11.14616%207.851367%2C0.0132%2014.533137%2C-7.16015%2014.395017%2C-14.94122%20-0.18777%2C-3.93227%203.83561%2C-6.33205%207.40879%2C-5.67788%205.28222%2C0.20697%209.02696%2C6.15718%206.90473%2C11.01361%20-2.78209%2C6.60987%20-9.85081%2C10.22234%20-16.31715%2C12.38357%20C%2082.146673%2C144.8784%2062.236593%2C139.54106%2047.698814%2C128.21823%2029.60203%2C114.10367%2020.604998%2C88.796073%2026.704425%2C66.548065%2029.589153%2C56.19309%2038.059203%2C46.332364%2049.379075%2C45.689975%20c%208.587283%2C-1.12107%2017.835042%2C3.804386%2020.55357%2C12.25186%201.082442%2C3.269066%201.295473%2C6.802875%200.74702%2C10.19027%20z%22%20/%3E%0A%3C/svg%3E");
  display: block;
  width: 1.2cm;
  height: 1.2cm;
  margin: 4em auto 0;
}

@media (max-width: 38em) {
  article {
    padding: .6667em;
  }
}

@media (min-width: 77.5em) {
  article {
    box-shadow: 0 -20px 10px -10px rgba(0,0,0,.333),
                0  20px 10px -10px rgba(0,0,0,.333);
  }
}

@media print {
  article {
    box-shadow: none;
    margin: 0;
    padding: 0;
    max-width: none;
    background: transparent;
  }
}

header, section {
  padding-top: 4.0em;
}

@media print {
  header, section {
    page-break-after: always;
    page-break-after: right;
  }
  section:last-child,
  section section {
    page-break-after: auto;
  }
  section > *:first-child {
    page-break-before: avoid;
  }
}

section {
  counter-increment: chapter;
  counter-reset: section;
}

section > section {
  counter-increment: section global_section;
}

section#Table_of_Contents,
section.preface {
  counter-increment: none;
}
