/**
 * block elements
 */

p {
  margin: 0;
}
@media (min-width: 28.125em) {
  p {
    text-align: justify;
  }
}

p + p {
  text-indent: 1.333em;
}

blockquote {
  margin: 1.425em auto;
  font-size: .9333em;
  line-height: 1.425;
  display: table;
}

table {
  margin: 0;
  font-variant-numeric: lining-nums tabular-nums diagonal-fractions;
}

thead th, tbody {
  border-bottom: 1px solid #aaa;
}

table:last-child tbody {
  border-bottom: none;
}

caption, th {
  font-style: italic;
  font-weight: normal;
}

caption {
  caption-side: bottom;
}

th, td {
  padding: .333em .333em .333em 0;
}

figure {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

figcaption {
  font-size: .9333em;
  line-height: 1.425;
}

:not(p) + p,
* + figure,
* + table {
  margin-top: 1.333em;
}

pre {
  font-family: inherit;
  margin: 0;
  /* there are overly long lines, e.g. in Dorian Gray, that must
   * wrap to not exceed the page margin */
  white-space: pre-wrap;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;

  border-color: #aaa;
  border-style: solid;
  border-width: 1px 0 0;
  margin: 1.333em auto;
}

/**
 * inline elements
 */

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted rgba(0,0,0,.15);
  cursor: help;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

figure img {
  display: block;
  margin: 0 auto;
}

a {
  color: hsl(356, 90%, 37%);
  text-decoration: none;
}

a:visited {
  color: hsl(356, 90%, 32%);
}

a:hover,
a:focus {
  outline: none;
  color: hsl(356, 90%, 42%);
  border-bottom: 1px solid;
}

a:active {
  background: hsl(356, 90%, 82%);
  border: none;
  color: inherit;
}
