p {
  margin: 0;
}
@media (min-width: 450px) {
  p {
    text-align: justify;
  }
}

p + p {
  text-indent: 1.333em;
}

blockquote {
  margin: 1.425em auto;
  font-size: .9333em;
  line-height: 1.425;
  display: table;
}
