/**
 * Table of Content --------------------------------------------------
 */
#Table_of_Contents ol {
  list-style: none;
  padding: 0 1.333em;
  margin: 0 auto;
  display: table;
  counter-reset: toc;
}

#Table_of_Contents ol.continued {
  counter-reset: none;
}

#Table_of_Contents ol ol {
  padding-left: 2.6667em;
  margin: 0.6667em;
}

#Table_of_Contents ol li {
  margin: 0 0 0.6667em;
  padding-left: 2em;
  text-indent: -2em;
  counter-increment: toc;
}

#Table_of_Contents li.no_chapter {
  counter-increment: none;
}

#Table_of_Contents ol li:before {
  content: counter(toc, upper-roman) ".";
  min-width: calc(1.333 * 1.618em);
  padding-right: calc(1.333 * 0.382em);
  display: inline-block;
  font-weight: normal;
  text-indent: 0;
  text-align: right;
}

#Table_of_Contents ol ol li:before {
  content: counter(toc) ".";
}

#Table_of_Contents ol li.no_chapter:before {
  content: "\00A0";
}

#Table_of_Contents.part_and_chapter ol li:before {
  content: "";
}

#Table_of_Contents.part_and_chapter ol ol li:before {
  content: "Chapter " counter(toc, upper-roman);
  width: 8em;
  font-variant: small-caps;
  font-weight: normal;
}

#Table_of_Contents.part_and_chapter ol ol li:lang(de):before {
  content: "Kapitel " counter(toc, upper-roman);
}
